@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter-VariableFont_slnt,wght.ttf");
}

@font-face {
  font-family: "Oswald";
  src: url("assets/fonts/Oswald-VariableFont_wght.ttf");
}

:root {
  --primary-color: #313131;
  --secondary-color: #ffe96e;
  --tertiary-color: #f5f5f5;
  --primary-font: "Inter", "sans-serif";
  --secondary-font: "Oswald", "sans-serif";
}

section {
  display: flex;
  flex-wrap: wrap;
}

img {
  width: 150px;
}
