@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter-VariableFont_slnt,wght.ttf");
}

@font-face {
  font-family: "Oswald";
  src: url("assets/fonts/Oswald-VariableFont_wght.ttf");
}

:root {
  --primary-color: #313131;
  --secondary-color: #ffe96e;
  --tertiary-color: #f5f5f5;
  --primary-font: "Inter", "sans-serif";
  --secondary-font: "Oswald", "sans-serif";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
}

img {
  width: 100%;
}

.title-category {
  color: var(--tertiary-color);
  font-family: var(--secondary-font);
  font-size: 1.5rem;
  padding-left: 1.8rem;
}

.section-category {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0.8rem;
  gap: 0.8rem;
  z-index: -1;
  margin-bottom: 5rem;
}

.section-category > article {
  width: 10rem;
}

.section-category > article > figure {
  margin: 0;
  position: relative;
}

figcaption {
  color: var(--primary-color);
  position: absolute;
}

@media screen and (min-width: 992px) {
  .icon-return-homepage {
    display: none;
  }
}
