:root {
  --primary-color: #313131;
  --secondary-color: #ffe96e;
  --tertiary-color: #f5f5f5;
  --primary-font: "Inter", "sans-serif";
  --secondary-font: "Oswald", "sans-serif";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.firstSection {
  position: relative;
}

picture {
  width: 100%;
}

.test {
  height: 10rem;
}

.logoTest {
  position: absolute;
  width: 3rem;
  left: 0.5rem;
}

.moviesContainer {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}

.containerTitle {
  color: var(--tertiary-color);
  padding: 0.5rem 0.5rem;
  margin-top: 0.5rem;
  font-family: var(--secondary-font);
}

.articleMovies {
  margin: 0 0.5rem;
}

.posterMovie {
  width: 10rem;
}

section:nth-of-type(2) {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 1rem;
  padding-left: 1rem;
}

.buttonFilter {
  color: var(--tertiary-color);
  background-color: var(--primary-color);
  border: solid 1.8px var(--tertiary-color);
  border-radius: 25px;
  padding: 0.5rem 1.2rem;
  font-family: var(--secondary-font);
  font-size: 0.8rem;
}

.container2 {
  background-color: var(--secondary-color);
}

.titleDark {
  color: var(--primary-color);
}

@media screen and (min-width: 992px) {
  button {
    display: none;
  }
}
