:root {
  --primary-color: #313131;
  --secondary-color: #ffe96e;
  --tertiary-color: #f5f5f5;
  --primary-font: "Inter", "sans-serif";
  --secondary-font: "Oswald", "sans-serif";
}

.navIcon {
  width: 38px;
}

.logoFull {
  width: 5rem;
  margin-left: 2rem;
  display: none;
}

nav {
  background-color: var(--primary-color);
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  height: 6rem;
}

.navList {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

li {
  align-content: center;
}

.nameCategory {
  color: var(--tertiary-color);
  font-family: var(--secondary-font);
  font-weight: normal;
}

.navDesktop,
.titleNav,
.searchBar,
.searchNavBar,
.isMobile,
.logoFull .buttonCategory {
  display: none;
}
@media screen and (min-width: 992px) {
  .navDesktop,
  .titleNav,
  .searchBar,
  .searchNavBar,
  .logoFull,
  .isMobile {
    display: block;
  }
  .navIcon,
  .none {
    display: none;
  }
  .titleNav {
    font-family: var(--secondary-font);
    margin: 0;
  }

  h2 {
    font-family: var(--secondary-font);
  }

  nav {
    position: relative;
    flex-wrap: nowrap;
    align-items: center;
    padding: 1rem;
  }
  .navList {
    display: flex;
    justify-content: space-evenly;
  }
  label {
    font-size: 0;
  }
  .linkName {
    font-size: 0.75rem;
    color: var(--tertiary-color);
    text-decoration: none;
  }
  .linkName:hover {
    color: var(--secondary-color);
    transition-duration: 300ms;
  }
  .yellow {
    color: var(--secondary-color);
    font-family: var(--secondary-font);
  }
  a {
    color: var(--tertiary-color);
    font-size: 0.7rem;
    text-decoration: none;
  }
  .selected {
    background-image: url(./../assets/images/icons-search-yellow.svg);
  }

  .buttonCategory {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.72rem;
  }

  .nameCategory {
    color: var(--tertiary-color);
  }

  .nameCategory:hover {
    color: var(--secondary-color);
    font-size: 1.1rem;
  }

  .category {
    cursor: pointer;
  }

  .category:hover {
    color: var(--secondary-color);
    background-color: #313131;
  }

  .scrollingMenu {
    background-color: rgb(49, 49, 49, 0.6);
  }

  .genderCategory {
    font-family: var(--secondary-font);
    font-size: 1rem;
  }

  .genderCategory:hover {
    color: var(--secondary-color);
  }

  .searchDesktop {
    width: 32px;
  }
}
