:root {
  --primary-color: #313131;
  --secondary-color: #ffe96e;
  --tertiary-color: #f5f5f5;
  --primary-font: "Inter", "sans-serif";
  --secondary-font: "Oswald", "sans-serif";
}

.sectionTerms {
  margin: 1rem 2rem;
}

.sectionsTerms h2 {
  font-family: var(--secondary-font);
}

.sectionTerms p {
  margin: 2rem 0;
  line-height: 1.75;
  font-family: var(--primary-font);
}

.sectionTerms li {
  color: var(--tertiary-color);
  font-size: 1em;
  font-family: var(--primary-font);
  margin: 1rem 0;
  line-height: 1.75;
}

.sectionTerms span {
  font-weight: 800;
  margin-right: 0.5rem;
}
